# Copyright (c) 2024 Andrew Featherstone
# SPDX-License-Identifier: Apache-2.0

if PROVES_FLIGHT_CONTROL_BOARD_V5D

config USB_SELF_POWERED
	default n

config USB_CDC_ACM_LOG_LEVEL
	default 0

config USB_DEVICE_LOG_LEVEL
	default 1
endif # PROVES_FLIGHT_CONTROL_BOARD_V5D
