---
BasedOnStyle: Chromium
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -2
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  # Zephyr headers come last
  - Regex: '^<zephyr/.*>'
    Priority: 3
