/*
 * Copyright (c) 2024 Andrew Featherstone
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

/* The build system assumes that there's a cpucluster-specific file.
 *
 * This file provides composition of the device tree:
 * 1. The common features of the SoC
 * 2. Core-specific configuration.
 * 3. Board-specific configuration.
 */
#include <raspberrypi/rpi_pico/rp2350a.dtsi>
#include <raspberrypi/rpi_pico/m33.dtsi>
#include <zephyr/dt-bindings/lora/sx126x.h>

#include "../proves_flight_control_board_v5/proves_flight_control_board_v5.dtsi"

// v5e uses an SX126x-based LoRa module. Override inherited v5 SX1276 settings.
&lora0 {
	compatible = "semtech,sx1262";
	reset-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
	busy-gpios =  <&gpio0 13 (GPIO_ACTIVE_HIGH)>;
	dio1-gpios =  <&gpio0 14 (GPIO_ACTIVE_HIGH)>;
	tx-enable-gpios =  <&gpio0 21 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
	rx-enable-gpios =  <&gpio0 22 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
	dio3-tcxo-voltage = <SX126X_DIO3_TCXO_2V2>;
    tcxo-power-startup-delay-ms = <5>;
	rx-boosted;
	label = "E22-400M30S";
	// zephyr,deferred-init;

	/delete-property/ dio-gpios;
	/delete-property/ power-amplifier-output;
};

// Configure the updated I2C Mappings
&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	clock-frequency = <100000>;

	ina219_0: ina219_0@40 {
		compatible = "ti,ina219";
		reg = <0x40>;
		brng = <0>;
		pg = <0>;
		badc = <12>;
		sadc = <12>;
		shunt-milliohm = <2>;
		lsb-microamp = <61>;
		label = "INA219 sys";
	};

	ina219_1: ina219_1@41 {
		compatible = "ti,ina219";
		reg = <0x41>;
		brng = <0>;
		pg = <0>;
		badc = <12>;
		sadc = <12>;
		shunt-milliohm = <2>;
		lsb-microamp = <61>;
		label = "INA219 sol";
	};

	tca9548a: tca9548a@77 {
		compatible = "ti,tca9548a";
		status = "okay";
		reg = <0x77>;
		#address-cells = <1>;
		#size-cells = <0>;
		label = "TCA9548A";
		reset-gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
		i2c-mux-idle-disconnect;

		mux_channel_0: i2c_mux@0 {
			compatible = "ti,tca9548a-channel";
			label = "mux_channel_0";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			face0_temp_sens: tmp112@48 {
				compatible = "ti,tmp112";
				reg = <0x48>;
				status = "okay";
				label = "FACE0_TMP112";
				zephyr,deferred-init;
			};

			face0_light_sens: light@29 {
				compatible = "vishay,veml6031";
				reg = <0x29>;
				status = "okay";
				label = "FACE0_VEML6031";
				zephyr,deferred-init;
			};

			face0_drv2605: drv2605@5a {
				compatible = "ti,drv2605";
				status = "okay";
				reg = <0x5a>;
				label = "FACE0_DRV2605";
				zephyr,deferred-init;

				actuator-mode = "ERM";
				loop-gain = "HIGH";
				feedback-brake-factor = "2X";
			};

		};

		mux_channel_1: i2c_mux@1 {
			compatible = "ti,tca9548a-channel";
			label = "mux_channel_1";
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			face1_temp_sens: tmp112@48 {
				compatible = "ti,tmp112";
				reg = <0x48>;
				status = "okay";
				label = "FACE1_TMP112";
				zephyr,deferred-init;
			};

			face1_light_sens: light@29 {
				compatible = "vishay,veml6031";
				reg = <0x29>;
				status = "okay";
				label = "FACE1_VEML6031";
				zephyr,deferred-init;
			};

			face1_drv2605: drv2605@5a {
				compatible = "ti,drv2605";
				status = "okay";
				reg = <0x5a>;
				label = "FACE1_DRV2605";
				zephyr,deferred-init;

				actuator-mode = "ERM";
				loop-gain = "HIGH";
				feedback-brake-factor = "2X";
			};

		};

		mux_channel_2: i2c_mux@2 {
			compatible = "ti,tca9548a-channel";
			label = "mux_channel_2";
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;

			face2_temp_sens: tmp112@48 {
				compatible = "ti,tmp112";
				reg = <0x48>;
				status = "okay";
				label = "FACE2_TMP112";
				zephyr,deferred-init;
			};

			face2_light_sens: light@29 {
				compatible = "vishay,veml6031";
				reg = <0x29>;
				status = "okay";
				label = "FACE2_VEML6031";
				zephyr,deferred-init;
			};

			face2_drv2605: drv2605@5a {
				compatible = "ti,drv2605";
				status = "okay";
				reg = <0x5a>;
				label = "FACE2_DRV2605";
				zephyr,deferred-init;

				actuator-mode = "ERM";
				loop-gain = "HIGH";
				feedback-brake-factor = "2X";
			};

		};

		mux_channel_3: i2c_mux@3 {
			compatible = "ti,tca9548a-channel";
			label = "mux_channel_3";
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;

			face3_temp_sens: tmp112@48 {
				compatible = "ti,tmp112";
				reg = <0x48>;
				status = "okay";
				label = "FACE3_TMP112";
				zephyr,deferred-init;
			};

			face3_light_sens: light@29 {
				compatible = "vishay,veml6031";
				reg = <0x29>;
				status = "okay";
				label = "FACE3_VEML6031";
				zephyr,deferred-init;
			};

			face3_drv2605: drv2605@5a {
				compatible = "ti,drv2605";
				status = "okay";
				reg = <0x5a>;
				label = "FACE3_DRV2605";
				zephyr,deferred-init;

				actuator-mode = "ERM";
				loop-gain = "HIGH";
				feedback-brake-factor = "2X";
			};

		};

		// Battery
		mux_channel_4: i2c_mux@4 {
			compatible = "ti,tca9548a-channel";
			label = "mux_channel_4";
			reg = <4>;
			#address-cells = <1>;
			#size-cells = <0>;
			batt_cell1_temp_sens: tmp112@48 {
				compatible = "ti,tmp112";
				reg = <0x48>;
				status = "okay";
				label = "BATT_CELL1_TMP112";
                zephyr,deferred-init;
			};
			batt_cell2_temp_sens: tmp112@49 {
				compatible = "ti,tmp112";
				reg = <0x49>;
				status = "okay";
				label = "BATT_CELL2_TMP112";
                zephyr,deferred-init;
			};
			batt_cell3_temp_sens: tmp112@4a {
				compatible = "ti,tmp112";
				reg = <0x4a>;
				status = "okay";
				label = "BATT_CELL3_TMP112";
				zephyr,deferred-init;
			};
			batt_cell4_temp_sens: tmp112@4b {
				compatible = "ti,tmp112";
				reg = <0x4b>;
				status = "okay";
				label = "BATT_CELL4_TMP112";
				zephyr,deferred-init;
			};
		};

		// Z- Face x1
		mux_channel_5: i2c_mux@5 {
			compatible = "ti,tca9548a-channel";
			label = "mux_channel_5";
			reg = <5>;
			#address-cells = <1>;
			#size-cells = <0>;

			face5_temp_sens: tmp112@48 {
				compatible = "ti,tmp112";
				reg = <0x48>;
				status = "okay";
				label = "FACE5_TMP112";
				zephyr,deferred-init;
			};

			face5_light_sens: light@29 {
				compatible = "vishay,veml6031";
				reg = <0x29>;
				status = "okay";
				label = "FACE5_VEML6031";
				zephyr,deferred-init;
			};

			face5_drv2605: drv2605@5a {
				compatible = "ti,drv2605";
				status = "okay";
				reg = <0x5a>;
				label = "FACE5_DRV2605";
				zephyr,deferred-init;

				actuator-mode = "ERM";
				loop-gain = "HIGH";
				feedback-brake-factor = "2X";
			};

		};

		// Z- Face x2
		mux_channel_6: i2c_mux@6 {
			compatible = "ti,tca9548a-channel";
			label = "mux_channel_6";
			reg = <6>;
			#address-cells = <1>;
			#size-cells = <0>;

			face6_temp_sens: tmp112@48 {
				compatible = "ti,tmp112";
				reg = <0x48>;
				status = "okay";
				label = "FACE6_TMP112";
				zephyr,deferred-init;
			};

			face6_light_sens: light@29 {
				compatible = "vishay,veml6031";
				reg = <0x29>;
				status = "okay";
				label = "FACE6_VEML6031";
				zephyr,deferred-init;
			};

			face6_drv2605: drv2605@5a {
				compatible = "ti,drv2605";
				status = "okay";
				reg = <0x5a>;
				label = "FACE6_DRV2605";
				zephyr,deferred-init;

				actuator-mode = "ERM";
				loop-gain = "HIGH";
				feedback-brake-factor = "2X";
			};

		};

		// Top cap
		mux_channel_7: i2c_mux@7 {
			compatible = "ti,tca9548a-channel";
			label = "mux_channel_7";
			reg = <7>;
			#address-cells = <1>;
			#size-cells = <0>;
			// TODO add top cap temp sensor (it's not a TMP112)
			face7_light_sens: light@29 {
				compatible = "vishay,veml6031";
				reg = <0x29>;
				status = "okay";
				label = "FACE7_VEML6031";
				zephyr,deferred-init;
			};
		};
	};

    // The V5e Board moved the MCP from I2C1 to I2C0

	mcp23017: mcp23017@20 {
		compatible = "microchip,mcp23017";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;

		/* gpio-line-names must match the numeric indexes used below. The
		 * topology and gpio nodes expect the following mapping (index : name):
		 *  0: ENABLE_HEATER (GPA0)
		 *  1: PAYLOAD_PWR_ENABLE (GPA1)
		 *  2: FIRE_DEPLOY2_B (GPA2)
		 *  3: PAYLOAD_BATT_ENABLE (GPA3)
		 *  4: SBAND_RX_EN (GPA4)
		 *  5: RF2_IO1 (GPA5)
		 *  6: RF2_IO0 (GPA6)
		 *  7: SBAND_TX_EN (GPA7)
		 *  8: FACE5_ENABLE (GPB5)
		 *  9: FACE0_ENABLE (GPB1)
		 * 10: FACE1_ENABLE (GPB2)
		 * 11: FACE2_ENABLE (GPB3)
		 * 12: FACE3_ENABLE (GPB4)
		 * 13: FACE4_ENABLE (GPB0)
		 * 14: 5V_RESET (GPB6)
		 * 15: CHARGE (GPB7)
		 */
		gpio-line-names = "ENABLE_HEATER", "PAYLOAD_PWR_ENABLE", "FIRE_DEPLOY2_B", "PAYLOAD_BATT_ENABLE",
						  "SBAND_RX_EN", "RF2_IO1", "RF2_IO0", "SBAND_TX_EN",
						  "FACE5_ENABLE", "FACE0_ENABLE", "FACE1_ENABLE", "FACE2_ENABLE",
						  "FACE3_ENABLE", "FACE4_ENABLE", "5V_RESET", "CHARGE";

		reset-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;

		ngpios = <16>;
	};
};


&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-names = "default";
	clock-frequency = <100000>;
	/delete-node/ mcp23017@20;

	lsm6dso0: lsm6dso0@6b {
		compatible = "st,lsm6dso";
		reg = <0x6b>;
		label = "LSM6DSO";
	};

	lis2mdl0: lis2mdl0@1e {
		compatible = "st,lis2mdl";
		reg = <0x1e>;
		label = "LIS2MDL";
	};

	rtc0: rtc0@52 {
		compatible = "microcrystal,rv3028";
		reg = <0x52>;
		int-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
		backup-switch-mode = "direct";
		alarms-count = <1>;
		label = "RV3028";
	};
};

// GPIO Names
/ {

    // Define the GPIO outputs based on your schematic
    gpio_outputs {
        compatible = "gpio-leds";  // Using gpio-leds as a convenient container

        face5_enable: face5-enable {

            gpios = <&mcp23017 8 GPIO_ACTIVE_HIGH>;  // GPB5
            label = "FACE5_ENABLE";
        };

        face0_enable: face0-enable {

            gpios = <&mcp23017 9 GPIO_ACTIVE_HIGH>;  // GPB1
            label = "FACE0_ENABLE";
        };

        face1_enable: face1-enable {

            gpios = <&mcp23017 10 GPIO_ACTIVE_HIGH>;  // GPB2
            label = "FACE1_ENABLE";
        };

        face2_enable: face2-enable {

            gpios = <&mcp23017 11 GPIO_ACTIVE_HIGH>;  // GPB3
            label = "FACE2_ENABLE";
        };

        face3_enable: face3-enable {

            gpios = <&mcp23017 12 GPIO_ACTIVE_HIGH>;  // GPB4
            label = "FACE3_ENABLE";
        };

        face4_enable: face4-enable {

            gpios = <&mcp23017 13 GPIO_ACTIVE_HIGH>;  // GPB0
            label = "FACE4_ENABLE";
        };

        enable_heater: enable-heater {

            gpios = <&mcp23017 0 GPIO_ACTIVE_HIGH>;  // GPA0
            label = "ENABLE_Heater";
        };

        payload_pwr_enable: payload-pwr-enable {

            gpios = <&mcp23017 1 GPIO_ACTIVE_HIGH>;  // GPA1
            label = "PAYLOAD_PWR_ENABLE";
        };

        fire_deploy2_b: fire-deploy2-b {

            gpios = <&mcp23017 2 GPIO_ACTIVE_HIGH>;  // GPA2
            label = "FIRE_DEPLOY2_B";
        };

        payload_batt_enable: payload-batt-enable {

            gpios = <&mcp23017 3 GPIO_ACTIVE_HIGH>;  // GPA3
            label = "PAYLOAD_BATT_ENABLE";
        };

        sband_rx_en: sband-rx-en {

            gpios = <&mcp23017 4 GPIO_ACTIVE_HIGH>;  // GPA4
            label = "SBAND_RX_EN";
        };

        sband_tx_en: sband-tx-en {

            gpios = <&mcp23017 7 GPIO_ACTIVE_HIGH>;  // GPA7
            label = "SBAND_TX_EN";
        };

	/*sband_nrst: sband-nrst {
            gpios = <&gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
            label = "SBAND_NRST";
	};*/

	};

    // Define GPIO inputs
    gpio_inputs {
        compatible = "gpio-keys";

		charge: charge {

            gpios = <&mcp23017 15 GPIO_ACTIVE_HIGH>;  // GPB7
            label = "CHARGE";
        };

        readonly: readonly {

            gpios = <&mcp23017 14 GPIO_ACTIVE_HIGH>;  // GPB6
            label = "READONLY";
        };

        rf2_io1: rf2-io1 {

            gpios = <&mcp23017 5 GPIO_ACTIVE_HIGH>;  // GPA5
            label = "RF2_IO1";
        };

        rf2_io0: rf2-io0 {

            gpios = <&mcp23017 6 GPIO_ACTIVE_HIGH>;  // GPA6
            label = "RF2_IO0";
        };

    };
};
