name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lint
        run: |
          make fmt

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download bin tools
        if: steps.cache-bin.outputs.cache-hit != 'true'
        run: |
          make download-bin

      - name: Setup submodules
        if: steps.cache-submodules.outputs.cache-hit != 'true'
        run: |
          make submodules

      - name: Run Unit Tests
        run: |
          make test-unit

  build:
    runs-on: deathstar
    steps:
      - uses: actions/checkout@v4

      - name: Download bin tools
        if: steps.cache-bin.outputs.cache-hit != 'true'
        run: |
          make download-bin

      - name: Setup submodules
        if: steps.cache-submodules.outputs.cache-hit != 'true'
        run: |
          make submodules

      - name: Create python venv
        run: |
          make fprime-venv

      - name: Setup Zephyr
        if: steps.cache-zephyr-workspace.outputs.cache-hit != 'true'
        run: |
          make zephyr-workspace

      - name: Setup Zephyr SDK
        if: steps.cache-zephyr-sdk.outputs.cache-hit != 'true'
        run: |
          make zephyr-sdk

      - name: Setup Zephyr Export
        run: |
          make zephyr-export

      - name: Install Zephyr Python Dependencies
        run: |
          make zephyr-python-deps

      - name: Change to CI Spacecraft ID
        run: |
          make make-ci-spacecraft-id

      - name: Generate
        run: |
          make generate

      - name: Set Authentication Key
        run: |
          echo "#define AUTH_DEFAULT_KEY \"${{ secrets.AUTH_KEY }}\"" > PROVESFlightControllerReference/Components/Authenticate/AuthDefaultKey.h

      - name: Build
        run: |
          make build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: |
            bootable.uf2
            build-artifacts/zephyr/fprime-zephyr-deployment/dict/ReferenceDeploymentTopologyDictionary.json
          retention-days: 30

  integration:
    runs-on:
      - integration
    needs: build
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v5

      - name: Set up dependencies
        run: |
          make submodules fprime-venv

      - name: Set Authentication Key
        run: |
          echo "#define AUTH_DEFAULT_KEY \"${{ secrets.AUTH_KEY }}\"" > PROVESFlightControllerReference/Components/Authenticate/AuthDefaultKey.h

      - name: Install Framer Plugin
        run: |
          make framer-plugin

      - name: Kill all python processes
        run: |
          pkill -9 python || true

      - name: Sync Sequence Number
        run: |
          make sync-sequence-number

      - name: Kill all python processes
        run: |
          pkill -9 python || true

      - name: Trigger Bootloader
        run: |
          make bootloader
          sleep 10

      - name: Copy Firmware
        run: |
          picotool load ./bootable.uf2
          picotool reboot
          sleep 5

      - name: Kill all python processes
        run: |
          pkill -9 python || true

      - name: Start GDS
        run: |
          nohup make gds-integration &
          echo $! > server.pid

      - name: Run Integration Tests
        run: |
          make test-integration

      - name: Kill GDS
        if: always()
        run: |
          kill $(cat server.pid)
